.billText{
    font-size: 14px;
    height: 40px;
    line-height: 40px;
}

.billHead p:last-child,.billMid p:last-child,.billBot p:last-child{
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
    border-bottom:1px solid #eee;
}

.billHead p:first-child,.billMid p:first-child,.billBot p:first-child{
    padding-top: 10px;
}