
.codeBox{
    width: 200px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -150px;
}

.recommendCode{
    width: 200px;
    height: 200px;
}