<div class="maintop bgcGreen tac colorWhite pt10">
  <p class="fs12">今日收益(元)</p>
  <p class="fs36 pt5">{{today/100}}</p>
  <p class="op8 pt10 fs16">累计收益 {{sum/100}} 元
    <!--<i class="weui-icon-info colorWhite fs14" ui-sref="rule"></i>-->
  </p>
</div>

<div class="weui-flex bgcGreen tac colorWhite pt20 pb20">
  <div class="weui-flex__item">
    <div class="placeholder" ng-click="scanCode()">
      <img src="images/scan.png" alt="" class="iconPic">
      <p>扫一扫</p>
    </div>
  </div>
  <div class="weui-flex__item" ui-sref="wallet">
    <div class="placeholder">
      <img src="images/wallet.png" alt="" class="iconPic">
      <p>钱包</p>
    </div>
  </div>
  <div class="weui-flex__item" ui-sref="integration">
    <div class="placeholder">
      <img src="images/star.png" alt="" class="iconPic">
      <p>积分</p>
    </div>
  </div>
  <div class="weui-flex__item" ui-sref="card">
    <div class="placeholder">
      <img src="images/card.png" alt="" class="iconPic">
      <p>银行卡</p>
    </div>
  </div>


</div>

<div class="weui-flex bgcWhite">
  <div class="weui-flex__item" ui-sref="recommendCode">
    <div class="placeholder mt15 mb15 pl20 br1">
      <img src="images/recommend.png" alt="" class="leftPic">
      <span class="vermid">我的推荐码</span>
    </div>
  </div>
  <div class="weui-flex__item" ui-sref="recommendMember">
    <div class="placeholder mt15 mb15 pl20">
      <img src="images/member.png" alt="" class="leftPic">
      <span class="vermid">推荐会员</span>
    </div>
  </div>

</div>

<div class="bgcWhite mt15 por">
  <div class="nearby tac">
    <span class="vermid">附近</span>
    <img src="images/down.png" alt="" class="downPic">
  </div>
  <div class="shopList" ng-repeat="shop in json1" ui-sref="shopDetail({id:shop.id})">
    <img ng-src="http://www.cookingeasy.cn/images/shop/{{shop.id}}/logo.jpg" alt="" onerror="this.src='images/default.png'" >
    <div class="shopDes">
      <p>
        <span class="selfSupport">自营</span>
        <span class="selfPick" ng-show="shop.pickUpSite">自提点</span>
        <span class="shopName pl3">{{shop.username}}</span>
      </p>
      <p class="shopDistance">{{shop.addr}} <span>{{shop.howFar}}m</span></p>
      <p class="shopDiscount">&nbsp;</p>
    </div>
  </div>
  <!--<div class="shopList" ui-sref="loadMore">-->
    <!--<img src="images/replace.png" alt="">-->
    <!--<div class="shopDes">-->
      <!--<p><span class="selfSupport">自营</span><span class="shopName pl3">虾饭先生(静安市场店)</span></p>-->
      <!--<p class="shopDistance">科学城 200m</p>-->
      <!--<p class="shopDiscount">&nbsp;</p>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="shopList" ui-sref="loadMore">-->
    <!--<img src="images/replace.png" alt="">-->
    <!--<div class="shopDes">-->
      <!--<p><span class="selfSupport">自营</span><span class="shopName pl3">虾饭先生(静安市场店)</span></p>-->
      <!--<p class="shopDistance">科学城 200m</p>-->
      <!--<p class="shopDiscount">&nbsp;</p>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="shopList" ui-sref="loadMore">-->
    <!--<img src="images/replace.png" alt="">-->
    <!--<div class="shopDes">-->
      <!--<p><span class="selfSupport">自营</span><span class="shopName pl3">虾饭先生(静安市场店)</span></p>-->
      <!--<p class="shopDistance">科学城 200m</p>-->
      <!--<p class="shopDiscount">&nbsp;</p>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="shopList" ui-sref="loadMore">-->
    <!--<img src="images/replace.png" alt="">-->
    <!--<div class="shopDes">-->
      <!--<p><span class="selfSupport">自营</span><span class="shopName pl3">虾饭先生(静安市场店)</span></p>-->
      <!--<p class="shopDistance">科学城 200m</p>-->
      <!--<p class="shopDiscount">&nbsp;</p>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div  infinite-scroll="loadMore()" id="testBox">-->
    <!--&lt;!&ndash;<p class="tac">没有更多了</p>&ndash;&gt;-->
  <!--</div>-->
</div>
<div class="shoppingCartBox" ng-click="toShop()">
  <img src="images/shoppingCart.png" alt="">
</div>